#Data Types and Structure Questions

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data so it can be used efficiently.
They are important because they affect how fast and easily you can store, search, update, and manage data in a program.

2. Difference between mutable and immutable data types (with examples)
   - Mutable: Can be changed after creation
Examples: list, dictionary, set
 immutable: Cannot be changed after creation
  Examples: tuple, string, int

3. Main differences between lists and tuples
   - Lists are mutable, tuples are immutable
   Lists use [], tuples use ()
   Tuples are generally faster and safer for fixed data

4. How dictionaries store data
   - Dictionaries store data as key–value pairs Keys are unique and mapped to values using hashing.

5. Why use a set instead of a list?
   - Sets automatically remove duplicates,
Faster membership testing (in),
Useful when order doesn’t matter

6. What is a string, and how is it different from a list?
   - A string is a sequence of characters and is immutable.
A list is a sequence of items and is mutable.

7. How do tuples ensure data integrity?
   - Because tuples cannot be changed, data inside them stays safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries?
   - A hash table is a data structure that stores data using hashes.
Python dictionaries are implemented using hash tables, allowing fast lookups.

9. Can lists contain different data types?
   - Yes

10. Why are strings immutable in Python?
    - Immutability makes strings:
More memory-efficient,
Safer to use,
Faster to process (they can be reused internally)

11. Advantages of dictionaries over lists
    - Faster lookups by key,
More readable data,
Ideal for structured data (e.g., records)

12. How do sets handle duplicate values?
    - Sets automatically remove duplicates:
  nums = {1, 2, 2, 3}
  Result: {1, 2, 3}

13. When is a tuple preferable over a list?
    - When data should not change (e.g., coordinates),
When using data as dictionary keys,
When performance matters

14. How does the in keyword differ for lists and dictionaries?
    - List: checks values
Dictionary: checks keys

15. Can you modify elements of a tuple?
    - No. Tuples are immutable, so their elements cannot be changed after creation.

16. What is a nested dictionary (use case)?
    - A dictionary inside another dictionary

17. Time complexity of dictionary access
    - Average case: O(1) (constant time)
This makes dictionaries very fast.

18. When are lists preferred over dictionaries?
    - When order matters,
When working with simple collections,
When data is accessed by position (index)

19. Why are dictionaries considered unordered?
    - Traditionally, dictionaries did not store items in order.
Modern Python preserves insertion order, but retrieval is still key-based, not position-based.

20. Difference between a list and a dictionary in data retrieval
    - List: retrieved by index (list[0])
Dictionary: retrieved by key (dict["key"])

#Practical Questions

In [1]:
#1Write a code to create a string with your name and print it
name="naina"
print(name)

naina

In [2]:
#2Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:
#3Slice the first 3 characters from "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [8]:
#4Convert the string "hello" to uppercase
text ="hello"
print(text.upper())

HELLO

In [9]:
#5Replace "apple" with "orange" in "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [10]:
#6Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [12]:
#8Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [13]:
#9Access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [14]:
#10Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [15]:
#11Create a tuple with elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [16]:
#12Access the second-to-last element of the tuple
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#13Find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [18]:
#14Find the index of "cat" in the tuple
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [19]:
#15Create a tuple of fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [20]:
#16Create a set with elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [21]:
#17Clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [22]:
#18Remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#19Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [24]:
#20Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [26]:
#21Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "naina", "age": 23, "city": "kota"}
print(person)

{'name': 'naina', 'age': 23, 'city': 'kota'}

In [27]:
#22Add "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23Access the value for the key "name" in the dictionary
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [29]:
#24Remove the key "age" from the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25Check if the key "city" exists in the dictionary
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [31]:
#26Create a list, a tuple, and a dictionary and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [32]:
#27Create a list of 5 random numbers (1–100), sort it, and print it
import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[9, 24, 25, 65, 96]

In [33]:
#28Create a list of strings and print the element at the third index
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

In [34]:
#29Combine two dictionaries and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#30Convert a list of strings into a set
my_list = ['apple', 'banana', 'apple', 'cherry']
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}